.priorityQueue {
  text-align: center;

  .test-code {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    .result-area {
      margin-left: 30px;
      width: 500px;
      /*display: flex;
      flex-flow: row nowrap;*/
      input, textarea {
        width: 400px;
        height: 200px;
        //background-color: #1AAB8A;
        border: 0;
        border-radius: 10px;
        //text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        /*animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-rotate-ver-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/
      }
      /*@keyframes scale-in-center {
        0% {
          transform: scale(0);
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 1;
        }
      }
      @keyframes slide-left {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-400px);
        }
      }
      @keyframes slide-rotate-ver-left {
        0% {
          transform: translateX(0) rotateY(0);
        }
        100% {
          transform: translateX(-150px) rotateY(90deg);
        }
      }*/
    }
    button {
      width: 60px;
      height: 40px;
      font-size: 1rem;
    }
    .user-input-section {
      margin-right: 20px;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      // .pop-form, .push-form, .state-form, .size-form, .empty-form, .front-form, .back-form
      div {
        margin-right: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
        input {
          width: 50px;
          height: 30px;
          margin-right: 10px;
          border: #e2e2e2;
          border-radius: 0.5rem;
          text-align: center;
        }
      }
    }
  }
}

