version: 2
jobs:
  build:
    docker:
      - image: zgaduj/node-10-rsync
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "web/package.json" }}
      - run:
          name: Setup Dependencies
          command: cd web && npm install
      - run:
          name: React Build
          command: cd web && npm run build
      - save_cache:
          key: dependency-cache-{{ checksum "web/package.json" }}
          paths:
            - ./web/node_modules
      - deploy:
          name: SSH File Transfer
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              sh deploy.sh
            fi
