.header {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .logo-section {
    margin-left: 30px;
    margin-top: 10px;
    img {
      height: 40px;
    }
  }
  .menu {
    margin-top: 10px;
    margin-right: 30px;
    font-size: 15pt;
    color: #ffffff;
  }
}