div[class^='toast'] {
  height: 20px;
  position: fixed;
  right: 10%;
  //margin-left:-125px;
  top: 100px;
  z-index: 9999;
  background-color: #92f36b;
  color: #000000;
  font-family: Calibri, serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  text-align:center;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0 0 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0 0 24px -1px rgba(56, 56, 56, 1);
  -webkit-animation: slide-in-and-out-right 3s cubic-bezier(0,.5,1,.5) both 200ms;
  -o-animation: slide-in-and-out-right 3s cubic-bezier(0,.5,1,.5) both 200ms;
  animation: slide-in-and-out-right 3s cubic-bezier(0,.5,1,.5) both 200ms;

  @keyframes slide-in-and-out-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    10% {
      transform: translateX(0px);
      opacity: 1;
    }
    70% {
      transform: translateX(0px);
      opacity: 1;
    }
    100% {
      transform: translateX(1000px);
      opacity: 0;
    }
  }

}

