.queue {
  text-align: center;
  .test-code {
    .result-area {
      margin: 100px 0 50px 100px;
      width: calc(100% - 100px);
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      .value-layers {
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        width: calc(100% - 150px);
        align-items: center;
        border: ridge #ffffff;
        border-right-width: 0;
        border-left-width: 0;
        background-color: #393d48;
        color: #ffffff;
        /*.queue-storage {
        }*/
        div {
          height: 90px;
          display: flex;
          align-items: center;
          background-color: #1AAB8A;
          color: #ffffff;
        }
      }
      .queue-value-div {
        width: 100px;
        height: 100px;
        .queue-value {
          width: 100px;
          height: 100px;
          background-color: #1AAB8A;
          border: 0;
          border-radius: 10px;
          text-align: center;
          font-size: 1.2rem;
          font-weight: bold;
          //animation:
          //        scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both,
          //        slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.5s,
          //        slide-rotate-ver-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
          //animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.5s ;
          //animation: slide-rotate-ver-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 3.5s;
          animation: all-in-one 2s cubic-bezier(0.68, 0, 0.3, 1) both;
        }
        /*@keyframes scale-in-center {
          0% {
            transform: scale(0);
            opacity: 0;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }
        @keyframes slide-left {
          0% {
            transform:translateX(0);
          }
          100% {
            transform: translateX(calc(-100vw + 450px));  // 100% width - 450px 뺀거리 만큼 움직임.
          }
        }
        @keyframes slide-rotate-ver-left {
          0% {
            transform: translateX(0) rotateY(0);
          }
          100% {
            transform: translateX(calc(-100vw + 350px)) rotateY(90deg);
          }
        }*/
        @keyframes all-in-one {
          0% {
            transform: scale(0);
            opacity: 0;
          }
          25% {
            transform: scale(1);
            opacity: 1;
          }
          50% {
            transform: translateX(0);
          }
          75% {
            transform: translateX(calc(-100vw + 450px)); // 100% width - 450px 뺀거리 만큼 움직임.
          }
          //80% {
          //  transform: translateX(calc(-100vw + 450px)) rotateY(0);
          //}
          100% {
            transform: translateX(calc(-100vw + 350px)) rotateY(90deg);
          }
        }
      }
    }
    .code-area {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      .code-show-btn {
        background-color: #393d48;
        margin-left: 145px;
        margin-bottom: 20px;
        width: 120px;
        height: 30px;
        border-radius: 5px;
        float: left;
        font-size: 17px;
        color: #ffffff;
      }
      .code-place {
        margin-left: 145px;
        width: 300px;
        height: 200px;
        float: left;
      }
    }
  }
}